<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.framework.auth.dal.AuthRoleMenuMapper">
    <insert id="createRoleMenu" parameterType="java.util.List">
        INSERT INTO auth_role_menu (menu_id,role_id,create_time,operator,status,ms_domain ) VALUES
        <foreach collection="authRoleMenuList" item="item" separator="," open="(" close=")">
            #{item.menuId},#{item.roleId},#{item.createTime},#{item.operator},#{item.status},#{item.msDomain}
        </foreach>
    </insert>

    <select id="queryAuthorize" parameterType="java.lang.Integer" resultType="com.cloud.framework.auth.pojo.AuthMsMenu">
        SELECT
        amm.id,amm.ms_domain,amm.parent_id,amm.menu_name,amm.menu_desc,amm.menu_url,
        amm.create_time,amm.operator,amm.update_time,amm.status,amm.menu_code,amm.menu_type
        FROM
        auth_role_menu arm
        JOIN
        auth_ms_menu amm ON arm.role_id = amm.id
        WHERE
        arm.role_id = #{roleId}
    </select>

</mapper>