<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.framework.auth.dal.AuthRoleStaffMapper">
    <delete id="deleteByStaffId" parameterType="java.lang.Integer">
        delete from auth_role_staff where staff_id = #{staffId}
    </delete>
</mapper>